<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,304},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,304},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,304},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,304},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,304},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{147,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,300}}</string>
                <key>sourceSize</key>
                <string>{147,300}</string>
            </dict>
            <key>bomb2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,606},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,908},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,908},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,908},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,908},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,908},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,908},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>bomb3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,908},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,908},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1019},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1130},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1130},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1130},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>bomb3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1130},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747c446912c28ccc70e0ff63967f4c82:ef567794afafa2cbe32f5dc056a98473:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
