<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,13}}</string>
                <key>sourceSize</key>
                <string>{53,13}</string>
            </dict>
            <key>bullet11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>bullet12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>bullet13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{36,16}</string>
            </dict>
            <key>bullet14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{49,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{49,19}</string>
            </dict>
            <key>bullet14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{49,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{49,19}</string>
            </dict>
            <key>bullet14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{49,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{49,19}</string>
            </dict>
            <key>bullet14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{49,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{49,19}</string>
            </dict>
            <key>bullet15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>bullet15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>bullet15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>bullet15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>bullet16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,11}</string>
            </dict>
            <key>bullet1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{10,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{10,6}</string>
            </dict>
            <key>bullet1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>bullet1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{18,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,7}}</string>
                <key>sourceSize</key>
                <string>{18,7}</string>
            </dict>
            <key>bullet1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>bullet2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,177},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,177},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,352},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,352},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,527},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,527},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,702},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,702},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>bullet3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{715,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{715,20}}</string>
                <key>sourceSize</key>
                <string>{715,20}</string>
            </dict>
            <key>bullet3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{715,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{715,19}}</string>
                <key>sourceSize</key>
                <string>{715,19}</string>
            </dict>
            <key>bullet3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{715,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{715,28}}</string>
                <key>sourceSize</key>
                <string>{715,28}</string>
            </dict>
            <key>bullet3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{715,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{715,20}}</string>
                <key>sourceSize</key>
                <string>{715,20}</string>
            </dict>
            <key>bullet3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{715,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{715,26}}</string>
                <key>sourceSize</key>
                <string>{715,26}</string>
            </dict>
            <key>bullet4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,972},{50,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,13}}</string>
                <key>sourceSize</key>
                <string>{50,13}</string>
            </dict>
            <key>bullet5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,972},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>bullet6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,972},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>bullet6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,972},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>bullet6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,972},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>bullet6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,972},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>bullet6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,972},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bullet7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,972},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>bullet7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{55,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,26}}</string>
                <key>sourceSize</key>
                <string>{55,26}</string>
            </dict>
            <key>bullet8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1002},{49,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{49,19}</string>
            </dict>
            <key>bullet9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1002},{42,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,14}}</string>
                <key>sourceSize</key>
                <string>{42,14}</string>
            </dict>
            <key>eff1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1002},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>eff2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1002},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>eff2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1002},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>eff2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1002},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>eff2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1002},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>eff2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1002},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>eff2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1002},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>eff3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1002},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>eff4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,972},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>eff4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1002},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>eff4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1002},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>eff4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1002},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>eff4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1002},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>eff4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1002},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>eff5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1002},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>eff5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1002},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>eff5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1002},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>eff5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1002},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>eff5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1002},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>fire1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1002},{31,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,11}}</string>
                <key>sourceSize</key>
                <string>{31,11}</string>
            </dict>
            <key>fire1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1002},{21,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,7}}</string>
                <key>sourceSize</key>
                <string>{21,7}</string>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1002},{31,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,11}}</string>
                <key>sourceSize</key>
                <string>{31,11}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1002},{21,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,7}}</string>
                <key>sourceSize</key>
                <string>{21,7}</string>
            </dict>
            <key>flashHead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1002},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>flashHead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1002},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>flashHead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1002},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>flashHead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1002},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>flashHead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1002},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>hp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{207,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,21}}</string>
                <key>sourceSize</key>
                <string>{207,21}</string>
            </dict>
            <key>hp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1039},{200,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,13}}</string>
                <key>sourceSize</key>
                <string>{200,13}</string>
            </dict>
            <key>hp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1039},{200,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,9}}</string>
                <key>sourceSize</key>
                <string>{200,9}</string>
            </dict>
            <key>hp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1039},{200,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,9}}</string>
                <key>sourceSize</key>
                <string>{200,9}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1039},{162,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,153}}</string>
                <key>sourceSize</key>
                <string>{162,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671a470a511d8c976dfb3669553fa6d6:2b96f53ad5f5fffdec7fc95e0a4c50cb:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
