<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>da_an_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,800},{153,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,151}}</string>
                <key>sourceSize</key>
                <string>{153,151}</string>
            </dict>
            <key>di_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,515},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>di_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{413,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,114}}</string>
                <key>sourceSize</key>
                <string>{413,114}</string>
            </dict>
            <key>fang_xiang_tu_biao.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,505},{96,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>gongchang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,474}}</string>
                <key>sourceSize</key>
                <string>{206,474}</string>
            </dict>
            <key>gongchang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{107,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,217}}</string>
                <key>sourceSize</key>
                <string>{107,217}</string>
            </dict>
            <key>huan_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,397},{106,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>ji_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,247},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>jin_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>miao_zhun_gong_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,628},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>paojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{127,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,209}}</string>
                <key>sourceSize</key>
                <string>{127,209}</string>
            </dict>
            <key>paotai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{196,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,74}}</string>
                <key>sourceSize</key>
                <string>{196,74}</string>
            </dict>
            <key>paotai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,746},{115,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,43}}</string>
                <key>sourceSize</key>
                <string>{115,43}</string>
            </dict>
            <key>qiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{169,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,77}}</string>
                <key>sourceSize</key>
                <string>{169,77}</string>
            </dict>
            <key>qiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,721},{169,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,77}}</string>
                <key>sourceSize</key>
                <string>{169,77}</string>
            </dict>
            <key>qiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,642},{169,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,77}}</string>
                <key>sourceSize</key>
                <string>{169,77}</string>
            </dict>
            <key>qiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,563},{169,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,77}}</string>
                <key>sourceSize</key>
                <string>{169,77}</string>
            </dict>
            <key>sheng_ming_ai_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,210},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>tiao_yue.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,289},{93,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,106}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
            <key>tou_xiang_xie_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{408,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,116}}</string>
                <key>sourceSize</key>
                <string>{408,116}</string>
            </dict>
            <key>xiao_an_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,444},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>xiao_bing_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,880},{152,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,87}}</string>
                <key>sourceSize</key>
                <string>{152,87}</string>
            </dict>
            <key>xie_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{284,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,33}}</string>
                <key>sourceSize</key>
                <string>{284,33}</string>
            </dict>
            <key>xie_liang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{286,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,34}}</string>
                <key>sourceSize</key>
                <string>{286,34}</string>
            </dict>
            <key>zan_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,829},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>zhu_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,791},{87,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,92}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,41},{246,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,26}}</string>
                <key>sourceSize</key>
                <string>{246,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de3a7edb745b7c73c0b1b089b64f4364:5a695e7da6485eb175f8d05f0ba80193:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
